@media only screen and (min-width:751px) {
    header {
        width: 100%
    }
    .container {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
}

@media only screen and (max-width:750px) {
    header {
        width: 100%
    }
    .container {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width:400px) {
    header {
        width: 100%
    }
    .container {
        width: 100%;
        margin: auto;
    }
}


/* @media only screen and (min-width: 751px) {
    
    .paragraph {
	line-height: 140%;
}
    
    header {
        height: auto;
    }
    
    .about-book {
	margin-bottom: 5%;
}

}





@media only screen and (max-width: 750px) {


    .container {
        padding: 1.3rem 0;
        overflow: hidden;
    }

    .the-header {
        display: block;
        box-shadow: 0px 3px 6px #efefef;
        text-align: center;
    }

    .nav-large {
        display: none;
    }

    .nav-small {
        display: block;
        font-size: 130%;
    }

    .header-logo {
        flex: 1 0 50%;
        width: 78%;
        margin: auto;
        padding: 0.3rem 1.9rem;
        font-size: 140%;

    }

    .header-search {
        display: none;
    }


    header {
        height: 100vh;
    }

    
    .main {
        margin-top: 12%;
    }


    .main::after {
        content: "V";
        color: #efefef;
        display: block;
        font-size: 500%;
        opacity: 0.6;
        margin-top: 8.3rem;

    }

    .main-action-button {
        color: #fff;
        background: #8b25aa;
        border: none;
        padding: 1rem 3.3rem;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease 0s;
    }

    .main-image {
        display: none;
    }



    .about-book {
        margin-top: 0;
        width: 95%;
        margin: 43% auto 53%;
        text-align: center;
        height: 40vh;
    }



    .contact-form {
        width: 100%;
    }

    .subtitle {
        text-size: 20%;
    }

    .fields {
        flex: 1 0 100%;
        width: 94%;
        align-items: center;
        padding: 0.3rem 0;
    }

    .contact-form-input {
        width: 90%;
        flex: 0 0 70%;
        align-self: flex-end;

    }

    .paragraph {
        color: #696868;
        padding: 1.3rem 0;
        text-align: center;
    }

    .paragraph p {
        padding: 0.5rem 0;
    }


    .impact {
        color: #696868;
        text-align: center;
    }


}




@media only screen and (max-width: 400px) {

    .container {
        padding: 1.3rem 0;
        overflow: hidden;
    }

    .the-header {
        display: block;
        box-shadow: 0px 3px 6px #efefef;
        text-align: center;
    }

    .nav-large {
        display: none;
    }

    .nav-small {
        display: block;
        font-size: 110%;
    }

    .header-logo {
        flex: 1 0 50%;
        width: 70%;
        margin: auto;
        padding: 0.3rem 1.9rem;
        font-size: 120%;

    }

    .header-search {
        display: none;
    }

    header {
        height: 100vh;
    }

   
    .main::after {
        content: "V";
        color: #efefef;
        display: block;
        font-size: 500%;
        opacity: 0.6;
        margin-top: 8.3rem;
    }

    .main-action-button {
        margin-top: 13%;
    }

    .main-image {
        display: none;
    }



    .about-book {
        margin-top: 0;
        width: 95%;
        margin: 23% auto 53%;
        text-align: center;
        height: 40vh;
    }



    .contact-form {
        width: 100%;
    }

    .subtitle {
        text-size: 20%;
    }

    .fields {
        flex: 1 0 100%;
        width: 94%;
        align-items: center;
        padding: 0.3rem 0;
    }

    .contact-form-input {
        width: 90%;
        flex: 0 0 70%;
        align-self: flex-end;

    }
} */